{% extends 'base.html.twig' %}

{% block title %}Hello FilleulController!{% endblock %}

{% block body %}
    Bienvenue {{user.prenom}} {{user.nom}}

    <p>Faire des cards pour acceder a toute les listes facilement et autrement que par la nav bar</p>
{% endblock %}
