{% extends 'base.html.twig' %}

{% block title %}Direction{% endblock %}

{% block body %}
    <h1>Liste des membres de la direction</h1>
    {{form(formRecherche)}}
    {% for direction in directions %}
        <li><a href="{{path('app_direction.show',{id:direction.id})}}">{{direction.prenom}} {{direction.nom}}</a></li>
    {% endfor %}
{% endblock %}