{% extends 'base.html.twig' %}

{% block title %}Hello FilleulController!{% endblock %}

{% block body %}
    <div id="wrapper">
        <h1>{{direction.nom}} {{direction.prenom}}</h1>
        <h2>Vient de la facultée : {{direction.faculte.name}}</h2>
    </div>


{% endblock %}
