*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blanc : white;
    --bleu : rgba(51,87,154,255);
    --orange : rgba(232,86,17,255);
    --orangeHover : rgba(229,117,65,255);
}

body{
    background-color: var(--bleu) !important;
}

li{
    list-style: none;
}

table{
    border-radius: 8px;
    overflow: hidden;
}

th{
    color: var(--blanc) !important;
    background-color: var(--bleu) !important;

}

th , td {
    text-align: center;
    vertical-align:middle;
    padding: 0 !important;
}

td a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 8px; 
    color: var(--bleu);
}

td a:hover {
    color: var(--orange);
    transition: 0.3s;
}

a{
    text-decoration: none;
}

#wrapper{
    background-color: var(--blanc);
    margin: 3% 5%;
    padding: 3%;
    border-radius: 10px;
}

/* 
==========================================================
HUMEUR TRAVAIL TABLE CELLS
==========================================================
*/
.circle {
    display: inline-flex; /* Use inline-flex to make the container shrink to fit the content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 14px; /* Adjust size as needed */
    margin: 0 auto; /* Center the circle */
}

.bg-red {
    background-color: rgb(255, 111, 111) !important;
}

.bg-orange {
    background-color: rgb(241, 181, 69) !important;
}

.bg-yellow {
    background-color: rgb(250, 250, 91) !important;
}

.bg-light-green {
    background-color: rgb(67, 216, 67) !important;
}

.bg-dark-green {
    background-color: rgb(55, 153, 55) !important;
    color : white !important;
}


/* 
==========================================================
NAV BAR
==========================================================
*/

nav{
    background-color: var(--blanc);
}

nav::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--bleu);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

nav a{
    color: var(--bleu) !important;
}

nav a:hover{
    color:var(--orange) !important;
    transition: 0.3s;
}

.active{
    color: var(--orange) !important;
}

.nav-item,.dropdown-item{
    position: relative;
}

.nav-item::after,.dropdown-item::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--orange);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.show{
    color: var(--orange) !important;
}
.nav-item:hover::after,.dropdown-item:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* 
==========================================================
LIST
==========================================================
*/

.rechercheListe{
    border: 3px var(--bleu) solid;
    border-radius: 10px;
    margin: 5% 0;
    padding: 1% 2%;
}

#recherche_parrain{
    display: flex;
}

.rechercheHeader{
    display: flex;
    position: relative;
}

.rechercheHeader h2{
    color: var(--bleu);
}

/* 
==========================================================
LOGIN FORM
==========================================================
*/

#wrapperLogin{
    background-color: var(--blanc);
    margin: 3% 5%;
    padding: 3%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 3% 5% 5% 5%;
    color: var(--bleu);
    border-radius: 5px;
    border: 3px solid var(--bleu);
}

#loginForm label{
    margin-top: 4%;
}

#loginForm button{
    margin-top: 4%;
    background-color: var(--orange) !important;
    box-shadow: none;
    border: none;
    width: 50%;
}

#loginForm button:hover {
    background-color : var(--orangeHover) !important;
    transition: 0.3s;
}
/* 
==========================================================
FORM GLOBAL
==========================================================
*/

.form{
    display:flex;
    flex-direction: column;
    align-items: stretch;
}
.form .row {
    margin-top: 3%;
}
.form .btn {
    width: 50%;
    background-color: var(--orange);
    border: none;
}

.form .btn:hover {
    background-color: var(--orangeHover);
    transition: 0.3s;
}

.form .buttonDivForm div {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
/* 
==========================================================
HOME
==========================================================
*/


/* 
==========================================================
HOME DIRECTION
==========================================================
*/

#cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    padding: 3% 5%;
}

.card {
    overflow: hidden;
}

.card-title{
    background-color: var(--bleu);
    padding: 5% 0;
    color: var(--blanc);
}

#cardContainer .btn{
    width: 80%;
    color: white;
    margin-top: 3%;
    background-color: var(--orange);
    border: none;
}

#cardContainer .btn:hover {
    background-color: var(--orangeHover);
    transition: 0.3s;
}

/* 
==========================================================
HOME TOP
==========================================================
*/

#topHome{
    background-color: var(--blanc);
    margin: 3% 5%;
    padding: 3%;
    border-radius: 10px;
}

#presentation {
    color: var(--orange);
}

#titreParrains,#titreFilleuls{
    position:relative;
    width: 90%;
    height: 5vh;
    margin: 5%;
}

#listeParrains,#listeFilleuls{
    width: 90%;
    margin: 0 5%;
}

.buttonMoins , .buttonPlus {
    position: absolute;
    right: 2%;
    top: 10%;
    font-size: 3vh;
    color:var(--bleu);
}
#titreParrains:hover,#titreFilleuls:hover{
    color: var(--orange);
    transition: 0.3s;
    cursor:pointer;
}
#titreParrains:hover .buttonMoins,#titreParrains:hover .buttonPlus ,#titreFilleuls:hover .buttonMoins,#titreFilleuls:hover .buttonPlus {
    color:var(--orange);
    transition: 0.3s;
} 
.hide{
    display: none;
}

/* 
==========================================================
FILLEUL SHOW
==========================================================
*/

