*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blanc : white;
    --bleu : rgba(51,87,154,255);
    --orange : rgba(232,86,17,255);
    --orangeHover : rgba(229,117,65,255);
}

body{
    background-color: var(--bleu) !important;
}

li{
    list-style: none;
}

table{
    border-radius: 8px;
    overflow: hidden;
}

th{
    color: var(--blanc) !important;
    background-color: var(--bleu) !important;
}

th , td {
    text-align: center;
}

td a {
    width: 100%;
    height: 100%;
    color: var(--bleu);
}

td a:hover {
    color: var(--orange);
    transition: 0.3s;
}

a{
    text-decoration: none;
}
/* 
==========================================================
NAV BAR
==========================================================
*/

nav{
    background-color: var(--blanc);
}

nav::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--bleu);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

nav a{
    color: var(--bleu) !important;
}

nav a:hover{
    color:var(--orange) !important;
    transition: 0.3s;
}

.active{
    color: var(--orange) !important;
}

.nav-item,.dropdown-item{
    position: relative;
}

.nav-item::after,.dropdown-item::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--orange);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.show{
    color: var(--orange) !important;
}
.nav-item:hover::after,.dropdown-item:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* 
==========================================================
LOGIN FORM
==========================================================
*/

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20vh 25vw 0 25vw;
    background-color: var(--bleu);
    padding: 3% 5% 5% 5%;
    color: var(--blanc);
    border-radius: 5px;
}

#loginForm label{
    margin-top: 4%;
}

#loginForm button{
    margin-top: 4%;
    background-color: var(--orange) !important;
    box-shadow: none;
    border: none;
    width: 50%;
}

#loginForm button:hover {
    background-color : var(--orangeHover) !important;
    transition: 0.3s;
}

/* 
==========================================================
HOME
==========================================================
*/


/* 
==========================================================
HOME PARRAIN
==========================================================
*/

/* 
==========================================================
HOME TOP
==========================================================
*/

#topHome{
    background-color: var(--blanc);
    margin: 3% 5%;
    padding: 3%;
    border-radius: 10px;
}

#presentation {
    color: var(--orange);
}

#titreParrains,#titreFilleuls{
    position:relative;
    width: 90%;
    height: 5vh;
    margin: 5%;
}

#listeParrains,#listeFilleuls{
    width: 90%;
    margin: 0 5%;
}

.buttonMoins , .buttonPlus {
    position: absolute;
    right: 2%;
    top: 10%;
    font-size: 3vh;
    color:var(--bleu);
}
#titreParrains:hover,#titreFilleuls:hover{
    color: var(--orange);
    transition: 0.3s;
    cursor:pointer;
}
#titreParrains:hover .buttonMoins,#titreParrains:hover .buttonPlus ,#titreFilleuls:hover .buttonMoins,#titreFilleuls:hover .buttonPlus {
    color:var(--orange);
    transition: 0.3s;
} 
.hide{
    display: none;
}

