{% extends 'base.html.twig' %}

{% block title %}Hello FilleulController!{% endblock %}

{% block body %}
    <div id="wrapper">
        <h1>Nouveau Filleul</h1>
        {{form(form,{'attr': {'class': 'form'}})}}
    </div>
    
{% endblock %}
