{% extends 'base.html.twig' %}

{% block title %}Hello ParrainController!{% endblock %}

{% block body %}
    <h1>Liste des Parrains</h1>

    {{form(formRecherche)}}
    {% for parrain in parrains %}
        <li>{{parrain.nom}} {{parrain.prenom}}</li>
    {% endfor %}
{% endblock %}
